:root { 
--gray_50_01:#fbfcfc; 
--gray_50_02:#fcfcfc; 
--blue_A200:#5598ff; 
--indigo_A400_19:#4d42f919; 
--black_900_3f:#0000003f; 
--black_900_01:#000000; 
--black_900_00:#00000000; 
--indigo_50_01:#e2e8f0; 
--blue_gray_900_02:#323232; 
--deep_purple_A400:#6633ee; 
--white_A700_19:#ffffff19; 
--blue_gray_900_01:#353535; 
--blue_gray_900:#33383f; 
--deep_purple_A200:#a05af0; 
--black_900_02:#090b14; 
--purple_300:#ba68c8; 
--white_A700_4c:#ffffff4c; 
--blue_gray_100:#d9d9d9; 
--indigo_A400_01:#3c66fa; 
--gray_200:#e5e8eb; 
--deep_purple_50:#efe6fc; 
--gray_100_02:#f5f5f5; 
--black_900_11:#00000011; 
--gray_100_01:#f1f5f9; 
--blue_gray_900_33:#32323233; 
--black_900_19:#00000019; 
--blue_gray_400_01:#898ca8; 
--white_A700:#ffffff; 
--blue_gray_100_01:#cbd5e1; 
--blue_A700:#2563eb; 
--gray_50:#fafafa; 
--blue_gray_200_01:#adb5bd; 
--white_A700_33:#ffffff33; 
--black_900:#070014; 
--blue_gray_800:#334155; 
--deep_purple_A100:#c99bff; 
--deep_purple_A700:#5100ff; 
--deep_purple_A200_01:#664dff; 
--deep_purple_A200_02:#7240ff; 
--gray_900_02:#151720; 
--deep_purple_A200_03:#8d66ff; 
--gray_700:#636363; 
--blue_gray_200:#b0b4c3; 
--blue_gray_400:#777e90; 
--indigo_50:#d8dffc; 
--gray_900:#0f172a; 
--gray_900_01:#131e2e; 
--gray_100:#f5f5fa; 
--black_900_33:#00000333; 
--indigo_A400:#4467ff; 
--blue_400:#5995e5; 
--blue_200:#9bc5ff; 
}